<section class="top-home">
    <a href="/search">
        <div class="top-home-search">
            输入书名/作者/关键字
        </div>
    </a>
    <div class="slider-banner">
        <div >
            <a href="http://dushu.xiaomi.com/#page=channel&id=410">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" title="海量免费书籍"
                />
            </a>
        </div>
    </div>
    <ul class="top-home-btn">
        <li>
            <a href="/male">
                <span class="top-home-icon icon-male"></span>
                <p class="top-home-des">男生</p>
            </a>
        </li>
        <li>
            <a href="/female">
                <span class="top-home-icon icon-female"></span>
                <p class="top-home-des">女生</p>
            </a>
        </li>
        <li>
            <a href="/category">
                <span class="top-home-icon icon-category"></span>
                <p class="top-home-des">分类</p>
            </a>
        </li>
        <li>
            <a href="/rank">
                <span class="top-home-icon icon-rank"></span>
                <p class="top-home-des">排行</p>
            </a>
        </li>
    </ul>
</section>