<section class="channel-group">
    <div class="channel-group-header">
        <h2 class="channel-group-title">限时免费</h2>
    </div>
    <ul class="book-table">
        <li v-for="item in free" v-if="$index<6">
            <div class="book-table-wrap">
                <div class="book-table-cover">
                    <img :src="item.data.cover" alt="{{ item.data.title }}" title="{{ item.data.title }}" />
                    <div class="u-tag-rt -freefiction"></div>
                </div>
                <div class="book-table-info">
                    <h3 class="book-table-title">{{ item.data.title }}</h3>
                </div>
            </div>
        </li>
    </ul>
    <div class="channel-group-footer">
        <a href="/free">更多限免佳作&gt;&gt;</a>
    </div>
</section>